<page id="for_employers_index">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="page-header">
          <h2 class="bold center uppercase">For Arbeidsgivere<h2>
          <p class="center bold text-muted uppercase no-margin-bottom">Våre annonsering pakker</p>
        </div>
        <div class="pricing-tables">
          <div class="row">
            <div class="col-sm-6">
              <div class="card card-pricing card-basic">
                <div class="card-header card-header-pricing">
                  <h4 class="no-margin-bottom bold">Basic - 9 900 NOK</h4>
                </div>
                <div class="card-block card-block-pricing">
                  <p class="card-text"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Jobbmail: Markedsføre dine tjenester direkte til jobbsøkere</p>
                  <p class="card-text"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Annonse Logo: Publisert av annonsen og blir synlig i søkelisten</p>
                  <p class="card-text"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Annonse Beskrivelse: Full annonsetekst</p>
                  <p class="card-text"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Informasjon: Om dere som arbeidsgiver</p>
                  <p class="card-text" style="text-decoration: line-through;"><i class="fa fa-times-circle-o" aria-hidden="true"></i> ToppJobb: Mer markedsføring for din tjeneste i søkelisten</p>
                  <p class="card-text" style="text-decoration: line-through;"><i class="fa fa-times-circle-o" aria-hidden="true"></i> Ny kundegaranti</p>
                  <p class="card-text no-margin-bottom"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Reklametid: 30 dagar</p>
                </div>
                <div class="card-footer card-footer-pricing">
                  <a href="#" class="btn btn-lg btn-pricing-contact" style="background:#9e9e9e !important;border-color:#9e9e9e !important;color:#fff;">Kontakt oss</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card card-pricing card-exclusive">
                <div class="card-header card-header-pricing">
                  <h4 class="no-margin-bottom bold">Exclusive - 14 900 NOK</h4>
                </div>
                <div class="card-block card-block-pricing">
                  <p class="card-text"><i class="fa fa-check-circle-o" aria-hidden="true" style="color:#FFC107 !important;"></i> Jobbmail: Markedsføre dine tjenester direkte til jobbsøkere</p>
                  <p class="card-text"><i class="fa fa-check-circle-o" aria-hidden="true" style="color:#FFC107 !important;"></i> Annonse Logo: Publisert av annonsen og blir synlig i søkelisten</p>
                  <p class="card-text"><i class="fa fa-check-circle-o" aria-hidden="true" style="color:#FFC107 !important;"></i> Annonse Beskrivelse: Full annonsetekst</p>
                  <p class="card-text"><i class="fa fa-check-circle-o" aria-hidden="true" style="color:#FFC107 !important;"></i> Informasjon: Om dere som arbeidsgiver</p>
                  <p class="card-text"><i class="fa fa-check-circle-o" aria-hidden="true" style="color:#FFC107 !important;"></i> ToppJobb: Mer markedsføring for din tjeneste i søkelisten</p>
                  <p class="card-text"><i class="fa fa-check-circle-o" aria-hidden="true" style="color:#FFC107 !important;"></i> Ny kundegaranti</p>
                  <p class="card-text no-margin-bottom"><i class="fa fa-check-circle-o" aria-hidden="true" style="color:#FFC107 !important;"></i> Reklametid: 30 dagar</p>
                </div>
                <div class="card-footer card-footer-pricing">
                  <a href="#" class="btn btn-lg btn-pricing-contact" style="background:#FFC107 !important;border-color:#FFC107 !important;">Kontakt oss</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="bold center no-margin-bottom">For att mer fremme dine tjenester, har vi tilgang til banner og bedriftsprofiler.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</page>
